@import "~susy/sass/susy";
@import '~breakpoint-sass/stylesheets/breakpoint';
@import '~modularscale-sass/stylesheets/modularscale';
// Settings
$susy: (
    'columns': susy-repeat(8),
    'svg-grid-colors': hsla(180, 50%, 50%, 0.25),
  );
  
  //some defaults to breakpoint scss
@include bkpt-set('to ems', true);
@include bkpt-set('no query fallbacks', true);

$modularscale: (
    base: 1em,
    ratio: 1.5
  );
// set basics followed by customs
$BREAKPOINTS: (
  0to499: (0px 499px),
  0to767: (0px 767px),
  tiny: 320px,
  375: 375px,
  480: 480px,
  500: 500px,
  500to767: (500px 767px),
  550: 550px,
  600: 600px,
  640: 640px,
  700: 700px,
  768: 768px,
  768to920: (768px 920px),
  768to1249: (768px 1249px),
  800: 800px,
  900: 900px,
  920: 920px,
  930: 930px,
  950: 950px,
  960: 960px,
  980: 980px,
  1120: 1120px,
  1180: 1180px,
  1200: 1200px,
  1250: 1250px,
  1260: 1260px,
  1320: 1320px,
  1400: 1400px,
  1808: 1808px,
  1840: 1840px,
);

  
  // box-sizing
  * { box-sizing: border-box; }
  
  
  
  
  
  // applied span
  // ------------
  section {
    @include container($debug: true);

    @include respond-to(1200) {
        padding: 0;
      }
  }
  
  nav {
    @include span(2);
    outline: 1px solid red;
    font-size: ms(3);
  }